<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accessToken">
	<resultMap type="AccessToken" id="accessTokenMap">
	     <id property="id" column="id" />  
	     <result property="token" column="token"/>  
	     <result property="expiresIn" column="expires_in"/>
	     <result property="date" column="date"/>
	</resultMap>

    <select id="select" resultMap="accessTokenMap" >
	   select id, token,expires_in,date from access_token  
	</select>
    
    <update id="update" parameterType="java.util.HashMap">
        update access_token 
	    set token=#{token},expires_in=#{expiresIn},date=#{date}
	    where id = #{id}
    </update>
	
	<insert id="insert" parameterType="java.util.HashMap">
		insert into access_token (token,expires_in,date)
		values(#{token},#{expiresIn},#{date})
	</insert>
</mapper>