<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerPhoto">
	<resultMap type="CustomerPhoto" id="customerPhotoMap">
		<id property="id" column="id" javaType="java.lang.Long" />
		<result property="cId" column="c_id" />
		<result property="oId" column="o_id" />
		<result property="photoName" column="photo_name" />
		<result property="suffix" column="suffix" />
		<result property="photoDirectory" column="photo_directory" />
		<result property="type" column="type" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<insert id="insert" parameterType="CustomerPhoto" useGeneratedKeys="true" keyProperty="id">
		insert into customer_photo
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="cId != null">,c_id</if>
			<if test="oId != null">,o_id</if>
			<if test="photoName != null and photoName != ''">,photo_name</if>
			<if test="suffix != null and suffix != ''">,suffix</if>
			<if test="photoDirectory != null and photoDirectory != ''">,photo_directory</if>
			<if test="type != null">,type</if>
			,create_time
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="cId != null">,#{cId}</if>
			<if test="oId != null">,#{oId}</if>
			<if test="photoName != null and photoName != ''">,#{photoName}</if>
			<if test="suffix != null and suffix != ''">,#{suffix}</if>
			<if test="photoDirectory != null and photoDirectory != ''">,#{photoDirectory}</if>
			<if test="type != null">,#{type}</if>
			,now()
		</trim>
	</insert>
	
	
	<delete id="delete" parameterType="Long">
	   delete  from customer_photo where id = #{photoId}
	</delete>
	
	<update id="update" parameterType="java.util.HashMap">
        update customer_photo 
	    set o_id =#{oId}
	    where photo_name in (${photoNames}) and  c_id = #{cId}
    </update>
    
</mapper>