<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wechatStatistics">
    <insert id="insertShare" parameterType="WechatShareStatistics">
        insert into wechat_share_statistics (openid,activity_type,create_time)
        values (#{openid},#{activityType},#{createTime})
    </insert>
    
    <insert id="insertAction" parameterType="WechatActionStatistics">
        insert into wechat_action_statistics (openid,activity_type,event_type,create_time)
        values (#{openid},#{activityType},#{eventType},#{createTime})
    </insert>
</mapper>