<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerOrder">
	<resultMap type="CustomerOrder" id="customerOrderMap">
		<id property="id" column="id" javaType="java.lang.Long" />
		<result property="orderNo" column="order_no" />
		<result property="cId" column="c_id" />
		<result property="loanAmount" column="loan_amount" />
		<result property="loanRate" column="loan_rate" />
		<result property="loanTerm" column="loan_term" />
		<result property="borrower" column="borrower" />
		<result property="auditAmount" column="audit_amount" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="xhDay" column="xh_day" />
		<result property="xhTime" column="xh_time" />
		<result property="relationShip" column="relationship" />
		<result property="createTime" column="create_time" />
		<result property="remarks" column="remarks" />
		<result property="xhAmount" column="xh_amount" />
		<result property="xhId" column="xh_id" />
		<result property="firstAuditId" column="first_audit_id" />
		<result property="firstAuditRemarks" column="first_audit_remarks" />
		<result property="firstAuditTime" column="first_audit_time" />
		<result property="finalAuditId" column="final_audit_id" />
		<result property="finalAuditRemarks" column="final_audit_remarks" />
		<result property="finalAuditTime" column="final_audit_time" />
		<result property="productType" column="product_type" />
	</resultMap>
	
	<select id="select" parameterType="Long" resultMap="customerOrderMap" >
	   SELECT * FROM customer_order WHERE c_id =  #{cId} order by id desc
	</select>
	
	<select id="selectOne" parameterType="Long" resultMap="customerOrderMap" >
	   SELECT * FROM customer_order WHERE id = #{id}
	</select>

	<select id="countOrders" parameterType="Long" resultType="int" >
	   SELECT COUNT(*) FROM customer_order WHERE c_id  = #{cId}
	</select>
	
	<select id="countOrderStatusNotIn" parameterType="java.util.HashMap" resultType="int" >
	   SELECT COUNT(*) FROM customer_order WHERE status not in (${status}) and c_id  = #{cId}
	</select>
	
	<insert id="insert" parameterType="CustomerOrder" useGeneratedKeys="true" keyProperty="id">
		insert into customer_order
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="orderNo != null and orderNo != ''">,order_no</if>
			<if test="cId != null">,c_id</if>
			<if test="borrower != null  and borrower != ''">,borrower</if>
			<if test="loanAmount != null">,loan_amount</if>
			<if test="loanTerm != null">,loan_term</if>
			<if test="type != null">,type</if>
			<if test="status != null">,status</if>
			<if test="productType != null">,product_type</if>
			,create_time
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="orderNo != null and orderNo != ''">,#{orderNo}</if>
			<if test="cId != null">,#{cId}</if>
			<if test="borrower != null  and borrower != ''">,#{borrower}</if>
			<if test="loanAmount != null">,#{loanAmount}</if>
			<if test="loanTerm != null">,#{loanTerm}</if>
			<if test="type != null">,#{type}</if>
			<if test="status != null">,#{status}</if>
			<if test="productType != null">,#{productType}</if>
			,now()
		</trim>
	</insert>
	
	<update id="cancel" parameterType="java.util.HashMap">
        update customer_order 
	    set status =#{status},remarks=#{reason}
	    where c_id = #{cId}  and  id = #{id}
    </update>
    
    <update id="saveXH" parameterType="java.util.HashMap">
        update customer_order 
	    set status =#{status},xh_day=#{xhDate},xh_time=#{xhTime}
	    where status = #{priStatus} and id = #{id}
    </update>
    
    <select id="queryLastOrderNumber" parameterType="String" resultType="String" >
	   select order_no from customer_order where date(create_time)=#{currentDate} ORDER BY id desc limit 1;
	</select>
</mapper>