<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">
	<resultMap type="Customer" id="customerMap">
	     <id property="id" column="id" javaType="java.lang.Long"/>  
	     <result property="name" column="name"/>  
	     <result property="age" column="age"/>
	     <result property="sex" column="sex"/>
	     <result property="idCard" column="id_card"/>  
	     <result property="marriage" column="marriage"/>
	     <result property="mobilePhone" column="mobile_phone"/>
	     <result property="inviteCode" column="invite_code"/>  
	     <result property="status" column="status"/>
	     <result property="openid" column="open_id"/>
	     <result property="createDate" column="create_date"/>  
	</resultMap>

    <select id="select" parameterType="String" resultMap="customerMap" >
	   select * from customer_info where open_id = #{openid}
	</select>
	
	<select id="selectOne" parameterType="Long" resultMap="customerMap" >
	   select * from customer_info where id = #{id}
	</select>
	
	<insert id="insert" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
		insert into customer_info
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="name != null and name != ''">,name</if>
			<if test="age != null">,age</if>
			<if test="sex != null">,sex</if>
			<if test="idCard != null and idCard != ''">,id_card</if>
			<if test="marriage != null">,marriage</if>
			<if test="mobilePhone != null and mobilePhone != ''">,mobile_phone</if>
			<if test="inviteCode != null and inviteCode != ''">,invite_code</if>
			<if test="status != null">,status</if>
			<if test="openid != null and openid != ''">,open_id</if>
			,create_date
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="name != null and name != ''">,#{name}</if>
			<if test="age != null">,#{age}</if>
			<if test="sex != null">,#{sex}</if>
			<if test="idCard != null and idCard != ''">,#{idCard}</if>
			<if test="marriage != null">,#{marriage}</if>
			<if test="mobilePhone != null and mobilePhone != ''">,#{mobilePhone}</if>
			<if test="inviteCode != null and inviteCode != ''">,#{inviteCode}</if>
			<if test="status != null">,#{status}</if>
			<if test="openid != null and openid != ''">,#{openid}</if>
			,now()
		</trim>
	</insert>
	
	<update id="updateIdCard" parameterType="java.util.HashMap">
        update customer_info 
	    set id_card =#{idCard}
	    where (id_card is null or id_card ='') and  id = #{id}
    </update>
    
    <select id="selectByNameAndPhone" parameterType="java.util.HashMap" resultMap="customerMap" >
	   select * from customer_info where name = #{name} and mobile_phone = #{phone}
	</select>
    
</mapper>